* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #eff9f0;
  color: #00040b;
}
h1,
h2,
h3 {
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: #4e4e50;
  font-weight: bold;
}
nav .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  background-color: #f9c80e;
  padding: 20px 60px;
  position: relative;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
nav .menu li {
  padding-left: 30px;
}
nav .menu li a {
  display: inline-block;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
}
nav .menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transition: 0.15s ease-in-out;
  background-color: #eff9f0;
}
nav .menu li a:hover:after {
  width: 100%;
}
nav .open-menu,
nav .menu .close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 34px;
  display: none;
  color: #fff;
}
nav .open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
nav .menu .close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}
main {
  max-width: 1200px;
  padding: 40px;
}
main .search-bar {
  display: flex;
  width: 100%;
  margin: 20px 0;
  position: relative;
  border-radius: 10px;
}
.fa-magnifying-glass {
  position: absolute;
  top: 15px;
  left: 60px;
  font-weight: 100;
  font-size: 28px;
  cursor: pointer;
}
main .search-bar input {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  border: none;
  box-shadow: 8px 0px 5px rgba(165, 61, 61, 0.2);
  border-radius: 10px 0 0 10px;
}
::placeholder {
  padding: 0 120px;
  font-size: 16px;
}
main .search-bar button {
  width: 20%;
  padding: 18px 0;
  background-color: #011638;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 22px;
  cursor: pointer;
}
main .wrapper {
  padding: 40px 0;
}
main .wrapper p {
  display: block;
  text-align: center;
  font-size: 15px;
}
main .hero {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 20px 0;
  width: 100%;
  height: 700px;
  font-size: 20px;
}
main .hero .text p {
  line-height: 35px;
}
main .hero .text {
  font-weight: 400;
  font-size: 16px;
  width: 50%;
}
main .hero .text h1 {
  padding: 8px 0;
}
main .hero .text p span {
  color: #011638;
  font-weight: 600;
  cursor: pointer;
}
.postcodes {
  background: #fafdfa;
  height: 500px;
}
section h2 {
  padding: 20px 0;
  font-weight: 400;
}
.postcodes .list-header {
  display: flex;
  justify-content: space-between;
  background: #f9c80e;
  padding: 14px 34px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 400;
}
.postcodes .lists .list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 34px;
  padding: 10px 34px;
  font-size: 14px;
  margin-bottom: 5px;
}
.postcodes .lists .list-items:nth-child(odd) {
  background: #fef4cf;
}
.postcodes .lists .list-items .p2 {
  text-align: center;
}
.postcodes .pages {
  display: flex;
  justify-content: space-between;
  padding: 38px 34px;
}
.postcodes .pages {
  font-size: 14px;
}
.fa-less-than,
.fa-greater-than {
  width: 24px;
  height: 24px;
  font-size: 18px;
  background: #fff;
  border: 1px solid #e7e5e5;
  padding-left: 4px;
  border-radius: 50%;
}
.map {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 700px;
}
.map .text {
  font-size: 16px;
  line-height: 35px;
  width: 50%;
}
.map .text h3 {
  padding: 16px 0;
  font-size: 22px;
  font-weight: bold;
}
footer {
  background: #00040b;
  color: #fff;
  width: 100%;
  height: 260px;
}
footer .footer-container {
  display: flex;
  gap: 60px;
  padding: 40px 34px;
  cursor: pointer;
}
footer ul li {
  text-transform: capitalize;
  font-size: 14px;
  line-height: 28px;
}
footer p {
  text-align: center;
}
footer p span {
  color: #f9c80e;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  nav .nav-bar {
    width: 480px;
  }
  nav .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background: #010a1b;
  }
  nav .menu li {
    margin: 20px 0;
  }
  nav .menu li a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
  }
  nav .open-menu,
  nav .menu .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  main {
    width: 100%;
  }
  main .wrapper {
    width: 100%;
    height: 200px;
  }
  .fa-magnifying-glass {
    position: absolute;
    top: 15px;
    left: 26px;
  }
  ::placeholder {
    padding: 0 60px;
    font-size: 18px;
  }
  main .search-bar button {
    width: 30%;
  }
  main .wrapper p {
    font-size: 18px;
  }
  main .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 980px;
  }
  main .hero .text {
    max-height: 400px;
    width: 100%;
  }
  main .hero .text p {
    font-size: 22px;
  }
  .house,
  .map-img {
    width: 100%;
  }
  section {
    height: 500px;
  }
  .map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .map .text {
    font-size: 20px;
    padding-bottom: 10px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  footer {
    width: 480px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-bar {
    width: 768px;
  }
  nav .menu li {
    padding: 0 16px;
  }
  main {
    width: 768px;
  }
  main .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .house,
  .map-img {
    width: 100%;
  }
  img {
    width: 100%;
  }
  main .hero .text {
    font-weight: 400;
    width: 100%;
    font-size: 22px;
    padding: 30px 0;
  }
  .map {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 22px;
    padding: 30px 0;
    width: 100%;
  }
  .map .text {
    width: 100%;
  }
  footer {
    width: 768px;
    height: 400px;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-bar {
    width: 1024px;
  }
  main {
    width: 1024px;
  }
  main .hero {
    width: 100%;
  }
  .house, .map-img {
    width: 80%;
  }
  footer {
    width: 1024px;
  }
}
